* {
  box-sizing: border-box;
}
.column {
  float: left;
  padding: 10px;
  height: 300px;
}
.left {
  width: 35%;
  text-align: center;
}
.right {
  width: 65%;
}

.info-text{
  color:#e7d7f5;
}
.btn{
  text-align: center;
}